@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');



 :root {
    --dark-gray: #313131;
    --light-gray: #F7F7F7;
    --red: #C73039;
 }

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

img {
    max-width: 100%;
}

span {
    color: var(--red);
}

.btn {
    background: none;
    padding: 10px 20px;
    border: solid 2px;
    font-size: 1rem;
}

.btn-light {
    color: var(--light-gray);
    border-color:  var(--light-gray);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.btn-light:hover {
    color: var(--dark-gray);
    background: var(--light-gray);
}

.btn-red {
    color: var(--red);
    border-color: var(--red);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.btn-red:hover {
    color: var(--light-gray);
    background: var(--red);
}

@media(min-width: 1200px) {
    .btn {
        font-size: 1.5rem;
    }
}

/*  ****************************************

                Navbar

****************************************   */  
header{
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 2;
}

nav {
    height: 10vh;
    display: grid;
    grid-template-columns: 5% 1fr 1.5fr 5%;
    align-items: center;
    position: relative;
    background: #FFF;
    height: 100%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    background: var(--dark-gray);
    font-size: 1.5rem;
    height: 100vh;
    width: 100%;
    clip-path: circle(50px at 110% -10%);
    -webkit-clip-path: circle(50px at 110% -10%);
    transition: all 500ms ease-in-out;
    opacity: 0;
}

.nav-links.open {
    clip-path: circle(1600px at 90% -10%);
    -webkit-clip-path: circle(1600px at 90% -10%);
    opacity: 1;
}


.nav-links li {
    list-style-type: none;
    margin: 3rem 0;
}

.nav-links li a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    grid-column: 2/3;
    height: 90%;
    max-height: 100px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: var(--dark-gray);
    transition: all 250ms ease-in-out;
}

.line.open-line {
    background: var(--red);
}

@media(min-width: 768px) { 

    header{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 2;
    }

    .nav-links {
        list-style-type: none;
        display: block;
        position: relative;
        justify-self: end;
        height: auto;
        width: auto;
        background: none;
        transition: all 0s;
        clip-path: none;
        opacity: 1;
    }

    .nav-links li {
        display: inline-block;
        margin-left: 1rem;
    }
    
    .nav-links li a {
        font-size: 1rem;
        font-weight: bold;
        color: var(--dark-gray);
    }
    

    .logo {
        grid-column: 2/3;;
        height: 90%;
    }
    
    .hamburger {
        display: none;
    }

    /* Hover effect on links */

    nav li {
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 4px;
        background: var(--red);

        position: absolute;
        bottom: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
        width: 100%;
    }
  
}

@media(min-width: 1200px) {

    .nav-links li {
        margin-left: 1.5rem;
    }

    .nav-links li a {
        font-size: 1.5rem;
    }
}

/*  ****************************************

                Landing

****************************************   */  

.hero{
    padding: 5vh 5%;
    height: 90vh;
    background: url('../img/small-dc-4k.png') repeat-x;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 2.25rem;
}

@media(min-width: 450px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

@media(min-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

@media(min-width: 1200px) {
    .hero h1 {
        font-size: 3rem;
    }
}

@media(min-width: 1440px) {
    .hero h1 {
        font-size: 4rem;
    }
}

@media(min-width: 1800px) {
    .hero h1 {
        font-size: 5rem;
    }
}

/*  ****************************************

                About

****************************************   */  

#about {
    background: #373737;
}

.about-grid {
    background: var(--dark-gray);
    color: var(--light-gray) !important;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    height: 500px;
}

.about-grid img {
    display: none;
}

.about-grid h2 {
    grid-column: 2/4;
    justify-self: center;
    margin: 2rem 0 1rem 0;
}

.about-grid p {
    grid-column: 2/4;
    grid-column: 2/4;
    margin: 1rem 0 2rem 0;
    line-height: 1.5rem;
}

.about-grid .red {
    grid-column: 1/3;
    grid-row: 3/4;
    background: var(--red);
    display: inline-grid;
    place-items: center;
    text-align: center;
    height: 100%;
}

.number {
    color: var(--light-gray) !important;
}

.about-grid .message{
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
}

@media(min-width: 768px) {

    .about-grid {
        grid-template-columns: 5% 1fr 1fr 5% 5% 1fr 1fr 5%;
        grid-template-rows: 1fr 2fr 1fr;
        align-items: center;
    }

    .about-image {
        grid-column: 1/5;
        grid-row: 1/4;
        height: 100%;
        background: url('../img/about-us.jpeg') no-repeat;
        background-size: cover;
    }

    .about-grid h2 {
        grid-column: 6/8;
        justify-self: center;
        margin: 2rem 0 1rem 0;
    }

    .about-grid p {
        grid-column: 6/8;
        grid-row: 2/3;
        margin: 1rem 0 2rem 0;
        line-height: 2rem;

    }

    .about-grid .red {
        grid-column: 5/7;
        grid-row: 3/4;
        background: var(--red);
        display: inline-grid;
        place-items: center;
        text-align: center;
        height: 100%;
        font-size: .9rem;
    }

    .number {
        color: var(--light-gray) !important;
    }

    .about-grid .message{
        grid-column: 7/9;
        grid-row: 3/4;
        justify-self: center;
    }

}

@media(min-width: 1200px) {

    .about-grid {
        height: 700px;
    }

    .about-grid h2 {
        font-size: 2rem;
    }

    .about-grid p {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    .about-grid .red {
        font-size: 1.25rem;
    }
}

@media(min-width: 1440px) {

    .about-grid {
        height: 750px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .about-grid h2 {
        font-size: 2.5rem;
        justify-self: start;
    }

    .about-grid p {
        line-height: 3rem;
    }

    .about-grid .red {
        font-size: 1.25rem;
    }
}


/*  ****************************************

                How We Work 

****************************************   */  

.how {
    text-align: center;
    padding-top: 2rem;
    background: var(--light-gray);
}

.how h2 {
    margin-bottom: 2rem;
}

.step-grid {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.step {
    margin-bottom: 2rem;

}

.step img {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

@media(min-width: 700px){
    
    .step-grid {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }
    
    .step1 {
        grid-column: 2/3;
    }
}


@media(min-width: 1200px) {
    .how h2 {
        font-size: 2rem;
    }

    .step p {
        font-size: 1.5rem;
    }
}


@media(min-width: 1440px) {
    .how h2 {
        font-size: 2.5rem;
    }
}

/*  ****************************************

                Services

****************************************   */  

#services {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

#services {
    max-width: 1100px;
    margin: 0 auto;
}

#services h2 {
    margin-bottom: 2rem;
}

.service {
    height: 100%;
    background: var(--dark-gray);
    color: var(--light-gray);
    padding-top: 1rem;
    text-align: center;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 90%;
    margin: 0 auto;
    font-size: .8rem;
}

.info {
    display: none;
}

.more-info ul {
    list-style: none;
}


.more-info ul li {
    display: inline-block;
    border: solid 1px var(--red);
    padding: 3.5px;
    margin-right: 5px;
    margin-bottom: 8px;
}


@media(min-width: 500px) {
    .more-info {
        font-size: .9rem;
    }
    
}

@media(min-width: 600px) {
    .more-info {
        font-size: 1rem;
    }
    
}

 @media(min-width: 850px) {

    #services h2 {
        font-size: 2.5rem;
    }
    
    .service {
        height: 270px;
        background: var(--dark-gray);
        color: var(--light-gray);
        padding-top: 3rem;
        text-align: center;
    }
    
    .service h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .more-info {
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
    }
    
    .more-info ul {
        list-style: none;
    }
    
    
    .more-info ul li {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 8px;
    
    }
    
} 

/*  ****************************************

                Carousel

****************************************   */  


.carousel {
    position: relative;
    height: 270px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -25px;
}

.carousel__button--right {
    right: -25px;
}

.carousel__button img{
    width: 20px;
    outline: none;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0; 

}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 .5rem;
    cursor: pointer;
    transition: all 300ms ease-in;
    outline: none;
}

.carousel__indicator.current-slide {
    height: 16px;
    width: 16px;
    background: rgba(0,0,0, .7);
}

.hidden {
    display: none;
}


 @media(min-width: 850px) {

    .carousel {
        height: auto;
    }

    .carousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel__track-container {
        height: auto;
        position: relative;
    }

    .carousel__track {
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 500ms ease-in;
    }

    .carousel__slide {
        position: relative;
    }

    .carousel__button,
    .carousel__nav {
        display: none;
    }
 



/*  ****************************************

            Carousel - GRID

****************************************   */  




    .carousel__track {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    #service1 {
        grid-column: 1/3;
    }

    #service4 {
        grid-column: 2/4;
    }



}


/*  ****************************************

                Dont - Find

****************************************   */  

.dont-find {
    background: var(--red);
    color: var(--light-gray);
    text-align: center;
    padding: 1.5rem;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);   
    box-shadow: 5px 5px 30px rgba(0,0,0,1); 
}

.dont-find .text {
    max-width: 1500px;
    margin: 0 auto;
}

.dont-find .text a {
    color: var(--light-gray);
    font-weight: bold;
    cursor: pointer;
    
}

@media(min-width: 850px) {
    .dont-find {
        margin-top: 1rem;
        width: auto;
    }

    .dont-find .text{
        font-size: 1.1rem;
    }
}



/*  ****************************************

               Why Us 

****************************************   */  

#why {
    background: #373737;
    margin-top: 8rem;
    position: relative;
}

.why-grid {
    background: var(--dark-gray);
    color: var(--light-gray) !important;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 1.5fr 2fr 1fr;
    align-items: center;
}

.why-grid h2 {
    grid-column: 2/4;
    justify-self: center;
    margin: 2rem 0 1rem 0;
    padding-top: 2rem;
}

.why-grid p {
    grid-column: 2/4;
    grid-column: 2/4;
    margin: 1rem 0 2rem 0;
    line-height: 1.5rem;
}

.why-grid .experience {
    grid-column: 1/3;
    grid-row: 3/4;
    background: var(--red);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.why-grid .projects{
    grid-column: 3/5;
    grid-row: 3/4;
    text-align: center;
    justify-self: center;
}

@media(min-width: 768px) {

    .why-grid {
        grid-template-columns: 5% 1fr 1fr 5% 5% 1fr 1fr 5%;
        grid-template-rows: 1fr 2fr 1fr;
        align-items: center;
        height: 600px;
    }
    
    .why-image {
        grid-column: 5/9;
        grid-row: 1/4;
        height: 100%;
        background: url('../img/why-us.jpeg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .why-grid h2 {
        justify-self: center;
        margin: 2rem 0 1rem 0;
    }
    
    .why-grid p {
        margin: 1rem 0 2rem 0;
        line-height: 2rem;
        
    }
}

@media(min-width: 850px) {
    #why {
        margin-top: 0;
    }
    
}

@media(min-width: 1200px) {
    .why-grid h2 {
        font-size: 2rem;
    }
    
    .why-grid p {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    .why-grid .experience,
    .why-grid .projects {
        font-size: 1.25rem;
    }
}


@media(min-width: 1440px) {

    .why-grid {
        height: 700px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .why-grid h2 {
        font-size: 2.5rem;
        justify-self: start;
    }

    .why-grid p {
        line-height: 3rem;
    }

    .why-grid .experience {
        font-size: 1.25rem;
    }

    .why-grid .projects {
        font-size: 1.25rem;
    }
}




/*  ****************************************

            Client Testimonials

****************************************   */  


.testimonials {
    text-align: center;
    padding-top: 2rem;
    max-width: 1565px;
    margin: 0 auto;
}

.testimonials h2 {
    margin-bottom: 2rem;
}

.testimonial-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 2rem;
}

.testimonial {
    margin-bottom: 2rem; 
    padding: 1rem;
    padding-top: 2rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
}

.testimonial .stars {
    margin-bottom: 1rem;
    color: var(--red);
}

.testimonial p {
    padding: 1rem;
    padding-bottom: 0;
    color: rgba(0,0,0,.5);
    overflow: hidden;
}

.testimonials .name {
    text-align: right;
}

.name p {
    color: var(--dark-gray);
    opacity: .8;
    font-weight: bold;
}

@media(min-width: 900px) {
    .testimonials {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}

@media(min-width: 1200px) {
    .testimonials h2 {
        font-size: 2rem;
    }
    
    .testimonial p {
        font-size: 1.25rem;
    }
}



@media(min-width: 1440px) {
    .testimonials h2 {
        font-size: 2.5rem;
    }
}

/*  ****************************************

            Review

****************************************   */  

#review_results p{
    margin-bottom: 1rem;
    color: var(--red);
}

.review-form {
    text-align: center;
    color: var(--dark-gray);
    padding: 2rem;
}

.review-form h2 {
    margin-bottom: 2rem;
    
}

.review-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.review-form form input, .review-form form textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border: none;
}

.review-form form .review-name {
    grid-column: 1/2;
    padding-right: 0;
}

.review-form form .review-rating .select {
    grid-column: 2/3;
    padding-left: 0;
}

.review-form form input, 
.review-form form textarea, 
.review-rating select {
    border: none;
    border: solid 2px rgb(187, 187, 187);
    border-radius: 0px;
}

.review-form form input:focus, 
.review-form form textarea:focus, 
.review-rating select:focus {
    border-color: var(--red);
}

.review-rating select {
    background: #FFF;
    padding: 1rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.review-rating {
    position: relative;
}

.review-rating::after {
    position: absolute;
    content: "";
    right: 10px;
    top: 50%;
    margin-top: -5px;
    border-top: 8px solid var(--red);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;
}


  
.review-form form .full {
    grid-column: 1/3;
}

.review-form form .full textarea {
    resize: vertical;
}

.review-form form .button {
    grid-column: 2/3;
}

.review-form form .button button {
    width: 100%;
}


@media(min-width: 900px) {
    .review-form h2 {
        font-size: 2rem;
    }

}



/*  ****************************************

            Contact

****************************************   */  


#contact {
    background: #373737;
}

#contact_results p{
    margin-bottom: 1rem;
}
 
.contact-grid {
    max-width: 1500px;
    margin: 0 auto;

}

.reach-us {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    background: var(--light-gray);
}

.black-bar {
    grid-column: 1/4;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    background: var(--dark-gray);
}

.reach-us h2{
    padding: 1.5rem 0;
    grid-column: 2/3;
    grid-row: 1/2;
    color: #FFF;
    justify-self: center;
}

.reach-us ul {
    grid-column: 2/3;
    list-style: none;
    display: flex;
    width: auto;
    margin: 0 auto;
    flex-direction: column;
}


.reach-us ul li {
    margin: .5rem 0;
}

.reach-us .dark-number {
    color: var(--dark-gray) !important;
}
.contact-form {
    background: var(--red);
    text-align: center;
    color: #FFF;
    padding: 2rem 0;
}

.contact-form h2 {
    margin-bottom: 1rem;
}

.contact-form form {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-gap: 1rem;
}

.contact-form form input, .contact-form form textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border: none;
}

.contact-form form .form-name {
    grid-column: 2/3;
}

.contact-form form .form-email {
    grid-column: 3/4;
}
  
.contact-form form .full {
    grid-column: 2/4;
}

.contact-form form .full textarea {
    resize: vertical;
}

.contact-form form .button {
    grid-column: 3/4;
}

.contact-form form .button button {
    width: 100%;
}

@media(min-width: 900px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-form {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .contact-form h2 {
        font-size: 2rem;
        padding: .7rem 0;
        margin-left: 7%;
    }

    #contact_results {
        margin-left: 7%;
    }

    .reach-us {
        grid-column: 2/4;
    }

    .reach-us h2 {
        font-size: 2rem;
    }

    .reach-us {
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 1fr 3fr;
        align-items: center;
        background: var(--light-gray);
    }

    .reach-us ul li {
        margin: 1rem 0;
        font-size: 1.25rem;
    }
}


/*  ****************************************

            CSS GRID

****************************************   */  



footer {
    background: #373737;
    height: 100px;
}

.footer-container {
    color: var(--light-gray);
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}