{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="INI services is the most professional home improvement service in the DC Maryland Virgina area.">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>INI Services</title>
</head>
<body>
    <header id="home">
        <nav id="nav">

            <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">

            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        </header>

    <section class="hero">
        <div>
            <h1>We build <span>your</span> dreams</h1>
            <h1>into <span>reality.</span></h1>
        </div>
    </section>

    <section id="about">
        <div class="about-grid">

            <div class="about-image"></div>
        
            <h2><span>About</span> Us</h2>
            <p>We are the most professional home improvement service in the DMV area. I.N.I. offers
                 you the most cost effective way to get all your jobs done quickly and professionally. 
                 No job too big. No job too small. Contact us today and get those odd jobs finished 
                 quickly and hassle free!</p>
        
            <div class="red">
                <div>
                    <h4>Call For a free Quote:</h4>
                    <h4 class="number">(703) - 582 - 9734</h4>
                </div>
            </div>
            
            <a href="#contact" class="message"><button class="btn btn-light">Message Us</button></a>
    </section>
        
    <div class="carousel" id="services">
        <h2>Our <span>Services</span></h2>
        <button class="carousel__button carousel__button--left hidden"> 
            <img src="{% static 'img/arrow-left.svg' %}" alt="">
        </button>

        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide" id="service1">
                    <div class="service service1">
                        <div>
                            <h3>Interior</h3>
                            <button class="btn btn-red info current-m-button">More Info</button>
                        </div>

                        <div class="more-info">
                            <ul>
                                <li>Flooring</li>
                                <li>Doors</li>
                                <li>Mirrors</li>
                                <li>Pictures</li>
                                <li>Windows</li>
                                <li>Carpentry</li>
                                <li>Shelving / storage assembly</li>
                                <li>Furniture assembly</li>
                                <li>Painting</li>
                                <li>Wallpaper</li>
                                <li>Blinds/curtains</li>
                                <li>General Repairs</li>
                            </ul>
                            <button class="btn btn-red info current-l-button">Less Info</button>
                        </div>
                    </div>
                </li>
                <li class="carousel__slide">
                    <div class="service service2">
                        <div>
                            <h3>Kitchen</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>

                        <div class="more-info">
                            <ul>
                                <li>Sinks</li>
                                <li>Garbage Disposal</li>
                                <li>Counter Tops</li>
                                <li>Cabinets</li>
                                <li>Appliances</li>

                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>
                </li>




                <li class="carousel__slide">
                    <div class="service service3">
                        <div>
                            <h3>Bedroom</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>

                        <div class="more-info">
                            <ul>
                                <li>Closets</li>
                                <li>Shelving</li>
                                <li>Organizer</li>
                                <li>Furniture Assembly</li>
                                <li>Appliances</li>
                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>

                </li>


                <li class="carousel__slide" id="service4">
                    <div class="service service4">
                        <div>
                            <h3>Exterior</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>

                        <div class="more-info">
                            <ul>
                                <li>Fences / Gates</li>
                                <li>Gutters</li>
                                <li>Siding, Fascia, and Soffit</li>
                                <li>Windows</li>
                                <li>Caulking</li>
                                <li>Brick work</li>
                                <li>Stone/Decorative Walkway</li>
                                <li>Cement</li>
                                <li>Painting</li>
                                <li>Pet homes/doors</li>

                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>
                </li>


                <li class="carousel__slide">
                    <div class="service service5">
                        <div>
                            <h3>Plumbing</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>

                        <div class="more-info">
                            <ul>
                                <li>Fixtures</li>
                                <li>Leaks</li>
                                <li>Water supplies</li>
                                <li>Toilet Repair</li>
                                <li>Sinks</li>
                                <li>Washing Machines / Dishwashers</li>
                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>
                </li>


                <li class="carousel__slide">
                    <div class="service service6">
                        <div>
                            <h3>Bathroom</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>
        
                        <div class="more-info">
                            <ul>
                                <li>Tiles</li>
                                <li>Showers</li>
                                <li>Toilets</li>
                                <li>Sinks</li>
                                <li>Towel Racks</li>
                                <li>Grout</li>
                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>
                </li>


                <li class="carousel__slide">
                    <div class="service service7">
                        <div>
                            <h3>Electrical</h3>
                            <button class="btn btn-red info">More Info</button>
                        </div>
        
                        <div class="more-info">
                            <ul>
                                <li>Light / Dimmer switches</li>
                                <li>Ceiling Fans</li>
                                <li>Extractor Fans</li>
                                <li>Circuit Breaker</li>
                                <li>Sockets</li>
                            </ul>
                            <button class="btn btn-red info">Less Info</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <button class="carousel__button carousel__button--right"> 
            <img src="{% static 'img/arrow-right.svg' %}" alt="">
        </button>

        <div class="carousel__nav">
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>




        
    </div> 
    
    
    <section id="why">
        <div class="dont-find">
            <div class="text">
                <p>Don't find what you're looking for? <a href="#contact">Contact us</a> and we'll get back to you ASAP.</p>
            </div>
        </div>
        <div class="why-grid">

            <div class="why-image"></div>
    
            <h2><span>Why</span> Us</h2>
            <p>I.N.I. values each customer and strives to provide 
                quality service and workmanship. Our handymen 
                arrive on time and ready to work. Our Guarantee is 
                simple! If you’re not happy with the quality of our 
                workmanship then we’ll make it right for free. Call 
                us today and have your jobs taken care of quickly.</p>
    
            <div class="experience">
                <h3>16</h3>

                <h3>years of experience</h3>
            </div>
            <div class="projects">
                <h3>2000+</h3>
                <h3>projects</h3>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <h2>Client<span> Testimonials</span></h2>

        <div class="testimonial-grid" id="testimonial-grid">
            {% for testimonial in all_testimonials %}
            <div class="testimonial">
                <div class="stars">
                    {% for i in "x"|ljust:testimonial.rating %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </div>

                <p>{{ testimonial.message }}</p>
                <div class="name">
                    <p>- {{ testimonial.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="review-form">
            <h2>Leave a review</h2>

            <!-- {{ msg }} -->

            <div id="review_results"></div>
            <form action="/create_review" method="post" id="review-form">
                {% csrf_token %} 
                <p class="review-name">
                    <input type="text" name="name" placeholder="Name" id="review-name"></input>
                </p>

                <div class="review-rating">
                    <select name="rating" id="review-rating">
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                        <option value="5" selected>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                    </select>

                </div>

                <p class="full">
                    <textarea name="message" rows="5" placeholder="Message" id="review-message"></textarea>
                </p>

                <p class="button">
                    <button type="submit" class="btn btn-red">Submit</button>
                </p> 

            </form>
        </div>

    </section>

    <section class="how">
        <h2><span>How</span> We Work</h2>
        <div class="step-grid">
            <div class="step step1">
                <img src="{% static 'img/008-lightbulb.svg' %}" alt="idea">
                <p>Find your problem.</p>
            </div>
            <div class="step">
                <img src="{% static 'img/009-voice.svg' %}" alt="voice">
                <p>Tell us your problem.</p>
            </div>
            <div class="step">
                <img src="{% static '/img/010-hammer.svg' %}" alt="hammer">
                <p>We fix your problem.</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="contact-grid">
            <div class="reach-us">
                <div class="black-bar"></div>
                <h2><span>Reach</span> Us</h2>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> DMV Area</li>
                    <li><i class="fas fa-phone-alt"></i> 7035829734</li>
                    <li><i class="fas fa-envelope"></i> ini1services@gmail.com</li>
                </ul>
            </div>
            <div class="contact-form">
                <h2>Get In Touch</h2>
    
                <!-- {{ msg }} -->
                <div id="contact_results"></div>
    
                <form action="/send_mail" method="post" id="contact-form">
                    {% csrf_token %} 
                    <p class="form-name">
                        <input type="text" name="name" placeholder="Name" id="contact-name"></input>
                    </p>
    
                    <p class="form-email">
                        <input type="email" name="email" placeholder="Email" id="contact-email"></input>
                    </p>
    
                    <p class="full">
                        <textarea name="message" rows="10" placeholder="Message" id="contact-message"></textarea>
                    </p>
    
                    <p class="button">
                        <button type="submit" class="btn btn-light">Submit</button>
                    </p> 
    
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <p>&copy; 2020 All rights reserved</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7e3e6f27d8.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/carousel.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/forms.js' %}" type="text/javascript" ></script>
</body>
</html>